%h1#btn-about
  About this site
  %span
%p WE ARE A RUBY AND RAILS CONSULTANCY BASED IN COLIMA, MEXICO. WE BELIEVE THAT WEB DEVELOPMENT DOES NOT HAVE TO BE A COMPLICATED PROCESS, BUT IT HAS TO BE A FUN AND EXCITING EXPERIENCE. WE EXPECT PROBLEMS TO ARISE, BUT WE REACT IN A POSITIVE WAY, NO MATTER THE CIRCUMSTANCE.
%p
  %a{:href => "mailto:info@crowdint.com", :title => "contact us", target:"_blank"} CONTACT US
  OR GO TO
  %a{:href => "http://www.crowdint.com/", :title => "Go to our site", target:"_blank"} OUR SITE »