- v = params[:page].nil? ? 'visibility:visible;' : 'visibility:hidden;'
-@entries.each do |entry|
  - case entry.content_type
    -when 'image'
      .box.image{:style => v}
        .box-inner
          %img{:src => entry.img_url}/
          .mask
            %a.zoom{:href => entry.img_url, :alt => entry.title, :rel => "gallery1"}
          %h1
            %a.zoom{:href => entry.img_url, :alt => entry.title, :rel => "gallery2"}
              =entry.title
          .social-items
            .zoomit.ghost{href:'#'}
            %a.twitter-share-button{"data-lang" => "en", "data-text" => entry.title, "data-url" => entry.img_url, "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
    -when 'link'
      .box.quote{:style => "#{v} background:#{get_color};"}
        .box-inner
          %h1
            %a{href: entry.img_url, target: '_blank'}
              =entry.title
          .social-items
            .zoomit.ghost{href:'#'}
            %a.twitter-share-button{"data-lang" => "en", "data-text" => entry.title, "data-url" => entry.img_url, "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
    -when 'video'
      .box.vid{:style => "#{v} background-color:#{get_color};"}
        .box-inner
          .play
          .mask
            %a.video{:href => entry.img_url, target: '_blank'}
          %h1
            %a.video{href: entry.img_url, target:'_blank'}
              =entry.title
          %p
            %a.video{href: entry.img_url, target:'_blank'}
              Watch video
          .social-items
            .zoomit.ghost{href:'#'}
            %a.twitter-share-button{"data-lang" => "en", "data-text" => entry.title, "data-url" => entry.img_url, "data-counturl"=>entry.img_url, "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet