- v = params[:page].nil? ? 'visibility:visible;' : 'visibility:hidden;'
-@entries.each do |entry|
  .box.masonry-brick{:style => v}
    .box-inner
      %img{:src => entry.img_url}/
      .cover
        .mask
          %a.zoom{:href => entry.img_url, :rel => "gallery1"}
        %h1
          %a.zoom{:href => entry.img_url, :rel => "gallery2"}
            =entry.title
