%p Crowd Interactive © 2012, This site is protected by copyright. Under U.S and international law. All rights reserved.
%ul.social
  %li.btn-twitter
    %a{:href => "http://www.twitter.com/crowdint", :target => "_blank"} Follow Crowd Interactive on Twitter
  %li.btn-facebook
    %a{:href => "https://www.facebook.com/CrowdInteractive", :target => "_blank"} Follow Crowd Interactive on Twitter
%select#feed_select
  %option{:value => "All"} All
  %option{:value => "Employee"} Employees
  %option{:value => "Facebook"} Facebook
  %option{:value => "Flickr"} Flickr
  %option{:value => "Instagram"} Instagram
  %option{:value => "Tumblr"} Tumblr
  %option{:value => "Twitter"} Twitter