%p
  %a{:href => "#", :title => "Back to top"} WE ENJOY OUR CULTURE
%a#to-top{:href => "#", :title => "Back to top"} Back to top
%ul.social
  %li.btn-twitter
    %a{:href => "http://www.twitter.com/crowdint", :target => "_blank"} Follow Crowd Interactive on Twitter
  %li.btn-facebook
    %a{:href => "https://www.facebook.com/CrowdInteractive", :target => "_blank"} Follow Crowd Interactive on Twitter