- s = entry.box_size
.box.image{:style => "visibility:hidden", class: "col#{s}"}
  .box-inner
    %img{:src => s > 1 ? entry.avatar.url : entry.avatar.url(:medium)}/
    .mask
      %a.zoom{:href => entry.avatar.url, :alt => entry.title, :rel => "gallery1"}
    %h1
      %a.zoom{:href => entry.avatar.url, :alt => entry.title, :rel => "gallery2"}
        =entry.title
    = render 'social', entry: entry