- s = entry.box_size
.box.quote{:style => "background:#{get_color};", class: "col#{s}"}
  .box-inner
    %h1
      %a{href: entry.content_url, target: '_blank'}
        =entry.title
    = render 'social', entry: entry