.box.quote{:style => "visibility:hidden; background:#{get_color};"}
  .box-inner
    %h1
      %a{href: entry.img_url, target: '_blank'}
        =entry.title
    .social-items
      .zoomit.ghost{href:'#'}
      %a.twitter-share-button{"data-lang" => "en", "data-text" => entry.title, "data-url" => entry.img_url, "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet