.box.tweet{:style => "visibility:hidden", class: "col2"}
  .box-inner
    .tweet-share
      %a.comment{href:entry.img_url}
      %a.retweet{href:entry.img_url}
      %a.favorite{href:entry.img_url}
    %h1
      %a{href: entry.img_url, target:'_blank'}
        =entry.title