.box.tweet{class: "col2"}
  .box-inner
    %div
    .tweet-share
      %a.comment{href:entry.content_url}
      %a.retweet{href:entry.content_url}
      %a.favorite{href:entry.content_url}
    %h1
      %a{href: entry.content_url, target:'_blank'}
        =raw "#{entry.title}"