- s = entry.box_size
.box.vid{:style => "visibility:hidden; background-color:#{get_color};", class: "col#{s}"}
  .box-inner
    .play
    .mask
      %a.video{:href => entry.img_url, target: '_blank'}
    %h1
      %a.video{href: entry.img_url, target:'_blank'}
        =entry.title
    %p
      %a.video{href: entry.img_url, target:'_blank'}
        Watch video
    = render 'social', entry: entry