%section#top-page
  %header
    %hgroup
      %h1#logo
        %a{:href => "#", :title => "Crowd Interactive"}
      %h2
        We Enjoy
        %span Our Culture
  %aside#about
    %h1#btn-about
      About this site
      %span
    %p WE ARE A RUBY AND RAILS CONSULTANCY BASED IN COLIMA, MEXICO. WE BELIEVE THAT WEB DEVELOPMENT DOES NOT HAVE TO BE A COMPLICATED PROCESS, BUT IT HAS TO BE A FUN AND EXCITING EXPERIENCE. WE EXPECT PROBLEMS TO ARISE, BUT WE REACT IN A POSITIVE WAY, NO MATTER THE CIRCUMSTANCE.
    %p
      %a{:href => "mailto:info@crowdint.com", :title => "contact us"} CONTACT US
      OR GO TO
      %a{:href => "http://www.crowdint.com/", :title => "Go to our site"} OUR SITE »
  .clearer
  %footer
    %p Crowd Interactive © 2012, This site is protected by copyright. Under U.S and international law. All rights reserved.
    %ul.social
      %li.btn-twitter
        %a{:href => "http://www.twitter.com/crowdint", :target => "_blank"} Follow Crowd Interactive on Twitter
      %li.btn-facebook
        %a{:href => "https://www.facebook.com/CrowdInteractive", :target => "_blank"} Follow Crowd Interactive on Twitter
%section#showcase
  #showcase-inner.masonry
    - @feeds.keys.each do |url|
      - @feeds[url].entries.each do |entry|  
        .box.masonry-brick
          .box-inner
            =get_img_src(entry.summary)