%section#top-page
  %header
    %hgroup
      %h1#logo
        %a{:href => "http://www.crowdint.com/", :title => "Crowd Interactive", target:"_blank"}
      %h2
        We Enjoy
        %span Our Culture

  %aside#about
    %h1#btn-about
      About this site
      %span
    %p WE ARE A RUBY AND RAILS CONSULTANCY BASED IN COLIMA, MEXICO. WE BELIEVE THAT WEB DEVELOPMENT DOES NOT HAVE TO BE A COMPLICATED PROCESS, BUT IT HAS TO BE A FUN AND EXCITING EXPERIENCE. WE EXPECT PROBLEMS TO ARISE, BUT WE REACT IN A POSITIVE WAY, NO MATTER THE CIRCUMSTANCE.
    %p
      %a{:href => "mailto:info@crowdint.com", :title => "contact us", target:"_blank"} CONTACT US
      OR GO TO
      %a{:href => "http://www.crowdint.com/", :title => "Go to our site", target:"_blank"} OUR SITE »

  .clearer
  %footer{id:"footer_top"}
    %p Crowd Interactive © 2012, This site is protected by copyright. Under U.S and international law. All rights reserved.
    %ul.social
      %li.btn-twitter
        %a{:href => "http://www.twitter.com/crowdint", :target => "_blank"} Follow Crowd Interactive on Twitter
      %li.btn-facebook
        %a{:href => "https://www.facebook.com/CrowdInteractive", :target => "_blank"} Follow Crowd Interactive on Twitter
    %select#feed_select
      %option{:value => "0"} All
      %option{:value => "99"} Employees
      %option{:value => "5"} Facebook
      %option{:value => "2"} Flickr
      %option{:value => "3"} Instagram
      %option{:value => "1"} Tumblr
      %option{:value => "4"} Twitter

%section#showcase
  #showcase-inner

= render 'layouts/footer'

#helper
  %p
    %a{:href => "#", :title => "Back to top"} WE ENJOY OUR CULTURE
  %a#to-top{:href => "#", :title => "Back to top"} Back to top
  %ul.social
    %li.btn-twitter
      %a{:href => "http://www.twitter.com/crowdint", :target => "_blank"} Follow Crowd Interactive on Twitter
    %li.btn-facebook
      %a{:href => "https://www.facebook.com/CrowdInteractive", :target => "_blank"} Follow Crowd Interactive on Twitter