%section#top-page
  %header
    %hgroup
      %h1#logo
        %a{:href => "#", :title => "Crowd Interactive"}
      %h2
        We Enjoy
        %span Our Culture
  %aside#about
    %h1#btn-about
      About this site
      %span
    %p WE ARE A RUBY AND RAILS CONSULTANCY BASED IN COLIMA, MEXICO. WE BELIEVE THAT WEB DEVELOPMENT DOES NOT HAVE TO BE A COMPLICATED PROCESS, BUT IT HAS TO BE A FUN AND EXCITING EXPERIENCE. WE EXPECT PROBLEMS TO ARISE, BUT WE REACT IN A POSITIVE WAY, NO MATTER THE CIRCUMSTANCE.
    %p
      %a{:href => "mailto:info@crowdint.com", :title => "contact us"} CONTACT US
      OR GO TO
      %a{:href => "http://www.crowdint.com/", :title => "Go to our site"} OUR SITE »
  .clearer
  %footer
    %p Crowd Interactive © 2012, This site is protected by copyright. Under U.S and international law. All rights reserved.
    %ul.social
      %li.btn-twitter
        %a{:href => "http://www.twitter.com/crowdint", :target => "_blank"} Follow Crowd Interactive on Twitter
      %li.btn-facebook
        %a{:href => "https://www.facebook.com/CrowdInteractive", :target => "_blank"} Follow Crowd Interactive on Twitter
%section#showcase
  #showcase-inner.masonry
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage6.instagram.com/25b9afdc165911e298dc22000a1fc2d3_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage6.instagram.com/25b9afdc165911e298dc22000a1fc2d3_7.jpg", :rel => "gallery1", :title => "#CrowdRumble final #latergram"}
          %h1
            %a.zoom{:href => "http://distilleryimage6.instagram.com/25b9afdc165911e298dc22000a1fc2d3_7.jpg", :rel => "gallery2", :title => "#CrowdRumble final #latergram"} #CrowdRumble final #latergram
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage6.instagram.com/25b9afdc165911e298dc22000a1fc2d3_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "#CrowdRumble final #latergram", "data-url" => "http://distilleryimage6.instagram.com/25b9afdc165911e298dc22000a1fc2d3_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage9.s3.amazonaws.com/73addbf40e7111e2a4d022000a1cdead_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage9.s3.amazonaws.com/73addbf40e7111e2a4d022000a1cdead_7.jpg", :rel => "gallery1", :title => "Esto es futbol de verdad #bestplacetowork #Crowdint"}
          %h1
            %a.zoom{:href => "http://distilleryimage9.s3.amazonaws.com/73addbf40e7111e2a4d022000a1cdead_7.jpg", :rel => "gallery2", :title => "Esto es futbol de verdad #bestplacetowork #Crowdint"} Esto es futbol de verdad #bestplacetowork #Crowdint
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage9.s3.amazonaws.com/73addbf40e7111e2a4d022000a1cdead_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Esto es futbol de verdad #bestplacetowork #Crowdint", "data-url" => "http://distilleryimage9.s3.amazonaws.com/73addbf40e7111e2a4d022000a1cdead_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage0.s3.amazonaws.com/2bc718ac08e311e2939222000a1e8b24_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage0.s3.amazonaws.com/2bc718ac08e311e2939222000a1e8b24_7.jpg", :rel => "gallery1", :title => "Ping pong time"}
          %h1
            %a.zoom{:href => "http://distilleryimage0.s3.amazonaws.com/2bc718ac08e311e2939222000a1e8b24_7.jpg", :rel => "gallery2", :title => "Ping pong time"} Ping pong time
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage0.s3.amazonaws.com/2bc718ac08e311e2939222000a1e8b24_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Ping pong time", "data-url" => "http://distilleryimage0.s3.amazonaws.com/2bc718ac08e311e2939222000a1e8b24_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage5.s3.amazonaws.com/869fca4e080211e2818e22000a1cdd19_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage5.s3.amazonaws.com/869fca4e080211e2818e22000a1cdd19_7.jpg", :rel => "gallery1", :title => "Hidalgo Rocha #crowdint"}
          %h1
            %a.zoom{:href => "http://distilleryimage5.s3.amazonaws.com/869fca4e080211e2818e22000a1cdd19_7.jpg", :rel => "gallery2", :title => "Hidalgo Rocha #crowdint"} Hidalgo Rocha #crowdint
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage5.s3.amazonaws.com/869fca4e080211e2818e22000a1cdd19_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Hidalgo Rocha #crowdint", "data-url" => "http://distilleryimage5.s3.amazonaws.com/869fca4e080211e2818e22000a1cdd19_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage7.s3.amazonaws.com/69d57b36044f11e2ad5812313817873b_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage7.s3.amazonaws.com/69d57b36044f11e2ad5812313817873b_7.jpg", :rel => "gallery1", :title => "Wódka!"}
          %h1
            %a.zoom{:href => "http://distilleryimage7.s3.amazonaws.com/69d57b36044f11e2ad5812313817873b_7.jpg", :rel => "gallery2", :title => "Wódka!"} Wódka!
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage7.s3.amazonaws.com/69d57b36044f11e2ad5812313817873b_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Wódka!", "data-url" => "http://distilleryimage7.s3.amazonaws.com/69d57b36044f11e2ad5812313817873b_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage10.s3.amazonaws.com/bd057e1a01a111e298941231381f75ad_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage10.s3.amazonaws.com/bd057e1a01a111e298941231381f75ad_7.jpg", :rel => "gallery1", :title => "Carlitos alias @berkowitz90 #crowdint style"}
          %h1
            %a.zoom{:href => "http://distilleryimage10.s3.amazonaws.com/bd057e1a01a111e298941231381f75ad_7.jpg", :rel => "gallery2", :title => "Carlitos alias @berkowitz90 #crowdint style"} Carlitos alias @berkowitz90 #crowdint style
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage10.s3.amazonaws.com/bd057e1a01a111e298941231381f75ad_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Carlitos alias @berkowitz90 #crowdint style", "data-url" => "http://distilleryimage10.s3.amazonaws.com/bd057e1a01a111e298941231381f75ad_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage2.s3.amazonaws.com/6544ef90c62211e1aaec22000a1e88af_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage2.s3.amazonaws.com/6544ef90c62211e1aaec22000a1e88af_7.jpg", :rel => "gallery1", :title => "Like a boss."}
          %h1
            %a.zoom{:href => "http://distilleryimage2.s3.amazonaws.com/6544ef90c62211e1aaec22000a1e88af_7.jpg", :rel => "gallery2", :title => "Like a boss."} Like a boss.
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage2.s3.amazonaws.com/6544ef90c62211e1aaec22000a1e88af_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Like a boss.", "data-url" => "http://distilleryimage2.s3.amazonaws.com/6544ef90c62211e1aaec22000a1e88af_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage3.s3.amazonaws.com/a33cc2a4c61e11e1a39b1231381b7ba1_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage3.s3.amazonaws.com/a33cc2a4c61e11e1a39b1231381b7ba1_7.jpg", :rel => "gallery1", :title => "El señor Rocha."}
          %h1
            %a.zoom{:href => "http://distilleryimage3.s3.amazonaws.com/a33cc2a4c61e11e1a39b1231381b7ba1_7.jpg", :rel => "gallery2", :title => "El señor Rocha."} El señor Rocha.
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage3.s3.amazonaws.com/a33cc2a4c61e11e1a39b1231381b7ba1_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "El señor Rocha.", "data-url" => "http://distilleryimage3.s3.amazonaws.com/a33cc2a4c61e11e1a39b1231381b7ba1_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage2.s3.amazonaws.com/042b669ec1a411e180d51231380fcd7e_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage2.s3.amazonaws.com/042b669ec1a411e180d51231380fcd7e_7.jpg", :rel => "gallery1", :title => "One Vegan &amp; One Carnivore."}
          %h1
            %a.zoom{:href => "http://distilleryimage2.s3.amazonaws.com/042b669ec1a411e180d51231380fcd7e_7.jpg", :rel => "gallery2", :title => "One Vegan &amp; One Carnivore."} One Vegan &amp; One Carnivore.
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage2.s3.amazonaws.com/042b669ec1a411e180d51231380fcd7e_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "One Vegan &amp; One Carnivore.", "data-url" => "http://distilleryimage2.s3.amazonaws.com/042b669ec1a411e180d51231380fcd7e_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage3.s3.amazonaws.com/c13fa068c14c11e18bb812313804a181_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage3.s3.amazonaws.com/c13fa068c14c11e18bb812313804a181_7.jpg", :rel => "gallery1", :title => "Mumo y Victor implementando cambios."}
          %h1
            %a.zoom{:href => "http://distilleryimage3.s3.amazonaws.com/c13fa068c14c11e18bb812313804a181_7.jpg", :rel => "gallery2", :title => "Mumo y Victor implementando cambios."} Mumo y Victor implementando cambios.
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage3.s3.amazonaws.com/c13fa068c14c11e18bb812313804a181_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Mumo y Victor implementando cambios.", "data-url" => "http://distilleryimage3.s3.amazonaws.com/c13fa068c14c11e18bb812313804a181_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage10.s3.amazonaws.com/9f2b9eaabce711e1abb01231382049c1_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage10.s3.amazonaws.com/9f2b9eaabce711e1abb01231382049c1_7.jpg", :rel => "gallery1", :title => "<img&hellip;"}
          %h1
            %a.zoom{:href => "http://distilleryimage10.s3.amazonaws.com/9f2b9eaabce711e1abb01231382049c1_7.jpg", :rel => "gallery2", :title => "<img&hellip;"} <img&hellip;
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage10.s3.amazonaws.com/9f2b9eaabce711e1abb01231382049c1_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "<img&hellip;", "data-url" => "http://distilleryimage10.s3.amazonaws.com/9f2b9eaabce711e1abb01231382049c1_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage7.s3.amazonaws.com/32ea70aabb0111e1be6a12313820455d_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage7.s3.amazonaws.com/32ea70aabb0111e1be6a12313820455d_7.jpg", :rel => "gallery1", :title => "¡Feliz del padre! @emmanueloseguer"}
          %h1
            %a.zoom{:href => "http://distilleryimage7.s3.amazonaws.com/32ea70aabb0111e1be6a12313820455d_7.jpg", :rel => "gallery2", :title => "¡Feliz del padre! @emmanueloseguer"} ¡Feliz del padre! @emmanueloseguer
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage7.s3.amazonaws.com/32ea70aabb0111e1be6a12313820455d_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "¡Feliz del padre! @emmanueloseguer", "data-url" => "http://distilleryimage7.s3.amazonaws.com/32ea70aabb0111e1be6a12313820455d_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm9.staticflickr.com/8009/7409143280_40a4febb97_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm9.staticflickr.com/8009/7409143280_40a4febb97_b.jpg", :rel => "gallery1", :title => "@geemus"}
          %h1
            %a.zoom{:href => "http://farm9.staticflickr.com/8009/7409143280_40a4febb97_b.jpg", :rel => "gallery2", :title => "@geemus"} @geemus
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7409143280/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "@geemus", "data-url" => "http://www.flickr.com/photos/magmarails/7409143280/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm8.staticflickr.com/7120/7409147476_0a4c0d4e95_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm8.staticflickr.com/7120/7409147476_0a4c0d4e95_b.jpg", :rel => "gallery1", :title => "César Salazar"}
          %h1
            %a.zoom{:href => "http://farm8.staticflickr.com/7120/7409147476_0a4c0d4e95_b.jpg", :rel => "gallery2", :title => "César Salazar"} César Salazar
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7409147476/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "César Salazar", "data-url" => "http://www.flickr.com/photos/magmarails/7409147476/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm8.staticflickr.com/7136/7409154304_a1517f7e54_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm8.staticflickr.com/7136/7409154304_a1517f7e54_b.jpg", :rel => "gallery1", :title => "@chopan"}
          %h1
            %a.zoom{:href => "http://farm8.staticflickr.com/7136/7409154304_a1517f7e54_b.jpg", :rel => "gallery2", :title => "@chopan"} @chopan
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7409154304/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "@chopan", "data-url" => "http://www.flickr.com/photos/magmarails/7409154304/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm6.staticflickr.com/5276/7409134350_055d37eb7e_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm6.staticflickr.com/5276/7409134350_055d37eb7e_b.jpg", :rel => "gallery1", :title => "@kidpollo"}
          %h1
            %a.zoom{:href => "http://farm6.staticflickr.com/5276/7409134350_055d37eb7e_b.jpg", :rel => "gallery2", :title => "@kidpollo"} @kidpollo
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7409134350/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "@kidpollo", "data-url" => "http://www.flickr.com/photos/magmarails/7409134350/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm9.staticflickr.com/8151/7409129350_28cdb095c5_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm9.staticflickr.com/8151/7409129350_28cdb095c5_b.jpg", :rel => "gallery1", :title => "Karla Gonzalez"}
          %h1
            %a.zoom{:href => "http://farm9.staticflickr.com/8151/7409129350_28cdb095c5_b.jpg", :rel => "gallery2", :title => "Karla Gonzalez"} Karla Gonzalez
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7409129350/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Karla Gonzalez", "data-url" => "http://www.flickr.com/photos/magmarails/7409129350/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm6.staticflickr.com/5325/7402411022_b92545e817_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm6.staticflickr.com/5325/7402411022_b92545e817_b.jpg", :rel => "gallery1", :title => "@tenderlove"}
          %h1
            %a.zoom{:href => "http://farm6.staticflickr.com/5325/7402411022_b92545e817_b.jpg", :rel => "gallery2", :title => "@tenderlove"} @tenderlove
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7402411022/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "@tenderlove", "data-url" => "http://www.flickr.com/photos/magmarails/7402411022/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage0.s3.amazonaws.com/1a4d8e76b8c511e1b00112313800c5e4_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage0.s3.amazonaws.com/1a4d8e76b8c511e1b00112313800c5e4_7.jpg", :rel => "gallery1", :title => "Shoot tequila!"}
          %h1
            %a.zoom{:href => "http://distilleryimage0.s3.amazonaws.com/1a4d8e76b8c511e1b00112313800c5e4_7.jpg", :rel => "gallery2", :title => "Shoot tequila!"} Shoot tequila!
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage0.s3.amazonaws.com/1a4d8e76b8c511e1b00112313800c5e4_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Shoot tequila!", "data-url" => "http://distilleryimage0.s3.amazonaws.com/1a4d8e76b8c511e1b00112313800c5e4_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm8.staticflickr.com/7227/7377497370_db6de8ec78_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm8.staticflickr.com/7227/7377497370_db6de8ec78_b.jpg", :rel => "gallery1", :title => "Wesley Beary"}
          %h1
            %a.zoom{:href => "http://farm8.staticflickr.com/7227/7377497370_db6de8ec78_b.jpg", :rel => "gallery2", :title => "Wesley Beary"} Wesley Beary
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377497370/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Wesley Beary", "data-url" => "http://www.flickr.com/photos/magmarails/7377497370/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm8.staticflickr.com/7095/7377513162_f6fa7417a7_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm8.staticflickr.com/7095/7377513162_f6fa7417a7_b.jpg", :rel => "gallery1", :title => "Ron Evans, Haro &amp; Esteban Cortés."}
          %h1
            %a.zoom{:href => "http://farm8.staticflickr.com/7095/7377513162_f6fa7417a7_b.jpg", :rel => "gallery2", :title => "Ron Evans, Haro &amp; Esteban Cortés."} Ron Evans, Haro &amp; Esteban Cortés.
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377513162/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Ron Evans, Haro &amp; Esteban Cortés.", "data-url" => "http://www.flickr.com/photos/magmarails/7377513162/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm8.staticflickr.com/7098/7377503058_84ce57b5d4_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm8.staticflickr.com/7098/7377503058_84ce57b5d4_b.jpg", :rel => "gallery1", :title => "Ron Evans"}
          %h1
            %a.zoom{:href => "http://farm8.staticflickr.com/7098/7377503058_84ce57b5d4_b.jpg", :rel => "gallery2", :title => "Ron Evans"} Ron Evans
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377503058/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Ron Evans", "data-url" => "http://www.flickr.com/photos/magmarails/7377503058/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm8.staticflickr.com/7071/7377506606_3c45906e1d_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm8.staticflickr.com/7071/7377506606_3c45906e1d_b.jpg", :rel => "gallery1", :title => "Ron Evans talking about &quot;Kids Ruby&quot;"}
          %h1
            %a.zoom{:href => "http://farm8.staticflickr.com/7071/7377506606_3c45906e1d_b.jpg", :rel => "gallery2", :title => "Ron Evans talking about &quot;Kids Ruby&quot;"} Ron Evans talking about &quot;Kids Ruby&quot;
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377506606/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Ron Evans talking about &quot;Kids Ruby&quot;", "data-url" => "http://www.flickr.com/photos/magmarails/7377506606/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm8.staticflickr.com/7089/7377393006_b81001bebb_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm8.staticflickr.com/7089/7377393006_b81001bebb_b.jpg", :rel => "gallery1", :title => "Some people in Magma Rails"}
          %h1
            %a.zoom{:href => "http://farm8.staticflickr.com/7089/7377393006_b81001bebb_b.jpg", :rel => "gallery2", :title => "Some people in Magma Rails"} Some people in Magma Rails
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377393006/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Some people in Magma Rails", "data-url" => "http://www.flickr.com/photos/magmarails/7377393006/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm6.staticflickr.com/5236/7377250828_91115e4947_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm6.staticflickr.com/5236/7377250828_91115e4947_b.jpg", :rel => "gallery1", :title => "Some guys from Crowd Interactive"}
          %h1
            %a.zoom{:href => "http://farm6.staticflickr.com/5236/7377250828_91115e4947_b.jpg", :rel => "gallery2", :title => "Some guys from Crowd Interactive"} Some guys from Crowd Interactive
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377250828/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Some guys from Crowd Interactive", "data-url" => "http://www.flickr.com/photos/magmarails/7377250828/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm8.staticflickr.com/7225/7377257454_3e399fb9a7_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm8.staticflickr.com/7225/7377257454_3e399fb9a7_b.jpg", :rel => "gallery1", :title => "Chalo, Niza, Mario Zaizar"}
          %h1
            %a.zoom{:href => "http://farm8.staticflickr.com/7225/7377257454_3e399fb9a7_b.jpg", :rel => "gallery2", :title => "Chalo, Niza, Mario Zaizar"} Chalo, Niza, Mario Zaizar
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377257454/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Chalo, Niza, Mario Zaizar", "data-url" => "http://www.flickr.com/photos/magmarails/7377257454/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm8.staticflickr.com/7218/7377242124_8770f417b9_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm8.staticflickr.com/7218/7377242124_8770f417b9_b.jpg", :rel => "gallery1", :title => "Mario Zaizar"}
          %h1
            %a.zoom{:href => "http://farm8.staticflickr.com/7218/7377242124_8770f417b9_b.jpg", :rel => "gallery2", :title => "Mario Zaizar"} Mario Zaizar
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377242124/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Mario Zaizar", "data-url" => "http://www.flickr.com/photos/magmarails/7377242124/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm8.staticflickr.com/7242/7377235216_1c412bc8cc_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm8.staticflickr.com/7242/7377235216_1c412bc8cc_b.jpg", :rel => "gallery1", :title => "Tania Escudero, Victor Velázquez, El Fanta"}
          %h1
            %a.zoom{:href => "http://farm8.staticflickr.com/7242/7377235216_1c412bc8cc_b.jpg", :rel => "gallery2", :title => "Tania Escudero, Victor Velázquez, El Fanta"} Tania Escudero, Victor Velázquez, El Fanta
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377235216/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Tania Escudero, Victor Velázquez, El Fanta", "data-url" => "http://www.flickr.com/photos/magmarails/7377235216/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm8.staticflickr.com/7074/7377230810_84eff4a437_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm8.staticflickr.com/7074/7377230810_84eff4a437_b.jpg", :rel => "gallery1", :title => "Listos para el registro"}
          %h1
            %a.zoom{:href => "http://farm8.staticflickr.com/7074/7377230810_84eff4a437_b.jpg", :rel => "gallery2", :title => "Listos para el registro"} Listos para el registro
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377230810/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Listos para el registro", "data-url" => "http://www.flickr.com/photos/magmarails/7377230810/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm6.staticflickr.com/5338/7377204232_f69309f444_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm6.staticflickr.com/5338/7377204232_f69309f444_b.jpg", :rel => "gallery1", :title => "Ron Evans"}
          %h1
            %a.zoom{:href => "http://farm6.staticflickr.com/5338/7377204232_f69309f444_b.jpg", :rel => "gallery2", :title => "Ron Evans"} Ron Evans
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377204232/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Ron Evans", "data-url" => "http://www.flickr.com/photos/magmarails/7377204232/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm9.staticflickr.com/8011/7377199738_2f9c2b6d2d_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm9.staticflickr.com/8011/7377199738_2f9c2b6d2d_b.jpg", :rel => "gallery1", :title => "Scott Chacon"}
          %h1
            %a.zoom{:href => "http://farm9.staticflickr.com/8011/7377199738_2f9c2b6d2d_b.jpg", :rel => "gallery2", :title => "Scott Chacon"} Scott Chacon
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377199738/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Scott Chacon", "data-url" => "http://www.flickr.com/photos/magmarails/7377199738/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm9.staticflickr.com/8162/7377172388_2edd373587_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm9.staticflickr.com/8162/7377172388_2edd373587_b.jpg", :rel => "gallery1", :title => "César Salazar &amp; Francisco Viramontes"}
          %h1
            %a.zoom{:href => "http://farm9.staticflickr.com/8162/7377172388_2edd373587_b.jpg", :rel => "gallery2", :title => "César Salazar &amp; Francisco Viramontes"} César Salazar &amp; Francisco Viramontes
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377172388/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "César Salazar &amp; Francisco Viramontes", "data-url" => "http://www.flickr.com/photos/magmarails/7377172388/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.flickr
        %img{:alt => "Flickr Thumbnail", :src => "http://farm8.staticflickr.com/7222/7377167662_13523050db_b.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://farm8.staticflickr.com/7222/7377167662_13523050db_b.jpg", :rel => "gallery1", :title => "@hackergil"}
          %h1
            %a.zoom{:href => "http://farm8.staticflickr.com/7222/7377167662_13523050db_b.jpg", :rel => "gallery2", :title => "@hackergil"} @hackergil
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://www.flickr.com/photos/magmarails/7377167662/&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "@hackergil", "data-url" => "http://www.flickr.com/photos/magmarails/7377167662/", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");        
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage2.s3.amazonaws.com/f24c10e6b4c311e1a39b1231381b7ba1_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage2.s3.amazonaws.com/f24c10e6b4c311e1a39b1231381b7ba1_7.jpg", :rel => "gallery1", :title => ".@drnic is here"}
          %h1
            %a.zoom{:href => "http://distilleryimage2.s3.amazonaws.com/f24c10e6b4c311e1a39b1231381b7ba1_7.jpg", :rel => "gallery2", :title => ".@drnic is here"} .@drnic is here
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage2.s3.amazonaws.com/f24c10e6b4c311e1a39b1231381b7ba1_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => ".@drnic is here", "data-url" => "http://distilleryimage2.s3.amazonaws.com/f24c10e6b4c311e1a39b1231381b7ba1_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage0.s3.amazonaws.com/e2a826607aa911e181bd12313817987b_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage0.s3.amazonaws.com/e2a826607aa911e181bd12313817987b_7.jpg", :rel => "gallery1", :title => "Full house."}
          %h1
            %a.zoom{:href => "http://distilleryimage0.s3.amazonaws.com/e2a826607aa911e181bd12313817987b_7.jpg", :rel => "gallery2", :title => "Full house."} Full house.
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage0.s3.amazonaws.com/e2a826607aa911e181bd12313817987b_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Full house.", "data-url" => "http://distilleryimage0.s3.amazonaws.com/e2a826607aa911e181bd12313817987b_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage9.s3.amazonaws.com/0acfb248787511e181bd12313817987b_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage9.s3.amazonaws.com/0acfb248787511e181bd12313817987b_7.jpg", :rel => "gallery1", :title => "Mario Twins"}
          %h1
            %a.zoom{:href => "http://distilleryimage9.s3.amazonaws.com/0acfb248787511e181bd12313817987b_7.jpg", :rel => "gallery2", :title => "Mario Twins"} Mario Twins
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage9.s3.amazonaws.com/0acfb248787511e181bd12313817987b_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Mario Twins", "data-url" => "http://distilleryimage9.s3.amazonaws.com/0acfb248787511e181bd12313817987b_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage0.s3.amazonaws.com/3226765c782411e1989612313815112c_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage0.s3.amazonaws.com/3226765c782411e1989612313815112c_7.jpg", :rel => "gallery1", :title => "Feliz Cumpleaños @softr8"}
          %h1
            %a.zoom{:href => "http://distilleryimage0.s3.amazonaws.com/3226765c782411e1989612313815112c_7.jpg", :rel => "gallery2", :title => "Feliz Cumpleaños @softr8"} Feliz Cumpleaños @softr8
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage0.s3.amazonaws.com/3226765c782411e1989612313815112c_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Feliz Cumpleaños @softr8", "data-url" => "http://distilleryimage0.s3.amazonaws.com/3226765c782411e1989612313815112c_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage4.s3.amazonaws.com/17c975966f9811e181bd12313817987b_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage4.s3.amazonaws.com/17c975966f9811e181bd12313817987b_7.jpg", :rel => "gallery1", :title => "Happy birthday @zazvick"}
          %h1
            %a.zoom{:href => "http://distilleryimage4.s3.amazonaws.com/17c975966f9811e181bd12313817987b_7.jpg", :rel => "gallery2", :title => "Happy birthday @zazvick"} Happy birthday @zazvick
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage4.s3.amazonaws.com/17c975966f9811e181bd12313817987b_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "Happy birthday @zazvick", "data-url" => "http://distilleryimage4.s3.amazonaws.com/17c975966f9811e181bd12313817987b_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage4.s3.amazonaws.com/52c9779458c411e180c9123138016265_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage4.s3.amazonaws.com/52c9779458c411e180c9123138016265_7.jpg", :rel => "gallery1", :title => "happiness"}
          %h1
            %a.zoom{:href => "http://distilleryimage4.s3.amazonaws.com/52c9779458c411e180c9123138016265_7.jpg", :rel => "gallery2", :title => "happiness"} happiness
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage4.s3.amazonaws.com/52c9779458c411e180c9123138016265_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "happiness", "data-url" => "http://distilleryimage4.s3.amazonaws.com/52c9779458c411e180c9123138016265_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
    .box.masonry-brick
      .box-inner.instagram
        %img{:src => "http://distilleryimage9.s3.amazonaws.com/05c71e9e568311e19896123138142014_7.jpg"}/
        .cover
          .mask
            %a.zoom{:href => "http://distilleryimage9.s3.amazonaws.com/05c71e9e568311e19896123138142014_7.jpg", :rel => "gallery1", :title => "@crowdosito &amp; superchango."}
          %h1
            %a.zoom{:href => "http://distilleryimage9.s3.amazonaws.com/05c71e9e568311e19896123138142014_7.jpg", :rel => "gallery2", :title => "@crowdosito &amp; superchango."} @crowdosito &amp; superchango.
          .social-items
            %iframe{:allowTransparency => "true", :frameborder => "0", :scrolling => "no", :src => "//www.facebook.com/plugins/like.php?href=http://distilleryimage9.s3.amazonaws.com/05c71e9e568311e19896123138142014_7.jpg&amp;send=false&amp;layout=button_count&amp;width=95&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21", :style => "border:none; overflow:hidden; width:95px; height:21px;"}
            %a.twitter-share-button{"data-dnt" => "true", "data-text" => "@crowdosito &amp; superchango.", "data-url" => "http://distilleryimage9.s3.amazonaws.com/05c71e9e568311e19896123138142014_7.jpg", "data-via" => "crowdint", :href => "https://twitter.com/share"} Tweet
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");              
          .rock-it
            %span.hand
            %span.count 5
  %a#more-items{:href => "#", :title => "Load more items..."} Load more items
#helper
  %p
    %a{:href => "#", :title => "Back to top"} WE ENJOY OUR CULTURE
  %a#to-top{:href => "#", :title => "Back to top"} Back to top
  %ul.social
    %li.btn-twitter
      %a{:href => "http://www.twitter.com/crowdint", :target => "_blank"} Follow Crowd Interactive on Twitter
    %li.btn-facebook
      %a{:href => "https://www.facebook.com/CrowdInteractive", :target => "_blank"} Follow Crowd Interactive on Twitter