// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
footer#main-footer{
  padding:5px;
  h1{
    display: inline-block;
    background-image: url(tiny_c.png);
    text-indent: -9999px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
  }
}