/******************************************
Crowd Interactive
*****************************************/

/* Erik Meyer CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;} 
:focus {outline:0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}

.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-table;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/********** custom reset ***********/

p, ul, small, ol, li, h1, h2, h3, h4, h5, h6, blockquote, a, div, span {-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;}
img {-ms-interpolation-mode: bicubic;}
input[type="submit"], input[type="button"], label {cursor:pointer;}
textarea{resize:none}
.clearer {clear:both}
menu, nav, ul, ol {padding:0;}
ol, ul {list-style-position:inside;}

/*general stuff*****************************************/

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Six+Caps);

body {background:url(/assets/bg-closed.jpg) repeat #191919;font-family:'Oswald', 'oswaldregular', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:15px;font-weight:normal;color:#999;}
body, html {position:relative;}
a, a:visited {color:#7bc3c3;text-decoration:none;}
.no-touch a:hover {color:#fff;text-decoration:none;}
h1, h2, h3, h4, h5 {font-family:'Oswald', 'oswaldregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight:normal;}

.no-touch hgroup h1 a, .no-touch .mask, .no-touch .social-items, .no-touch .box-inner.twitter {-o-transition:all ease 0.4s;-moz-transition: all ease 0.4s;-webkit-transition: all ease 0.4s;transition: all ease 0.4s;}
.no-touch .box h1 {-o-transition:all ease 0.4s;-moz-transition: all ease 0.4s;-webkit-transition: all ease 0.4s;transition: all ease 0.4s;}
.no-touch .box img {-o-transition:all ease 0.4s;-moz-transition: all ease 0.4s;-webkit-transition: all ease 0.4s;transition: all ease 0.4s;}

/* top page & header **********************************************/

#top-page {overflow:hidden;}
header {padding:12px 0 6px;overflow:hidden;position: relative;z-index:1;}
hgroup {display:block;width:190px;margin:0 auto;overflow:hidden;text-align:center;}
hgroup h1 {width:115px;height:115px;margin:0 auto 18px;}
hgroup h1 a, hgroup h1 a:visited {width:100%;height:100%;display:block;text-indent:-9999px;background:url(/assets/sprite.png) -58px -1px no-repeat;}
.no-touch hgroup h1 a:hover {-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);}
hgroup h2 {font-family:"Six Caps", "six_capsregular", Impact, sans-serif;font-size:100px;color:#5c5c5c;text-transform:uppercase;line-height:75px;text-shadow:1px 1px 0px #000;}
hgroup h2 span {color:#828282;font-size:75px;}

aside#about {position:absolute;top:20px;left:50%;width:330px;margin-left:140px;font-size:17px;line-height:23px;min-height:280px;z-index:2;}
aside#about p {text-shadow:1px 1px 0px #000;display:none;}
aside#about p:last-child {margin-top:10px;} 
aside#about h1 {cursor:pointer;position:absolute;bottom:0;left:0;width:26px;height:26px;background:url(/assets/sprite.png) no-repeat -4px -31px;text-indent:-9999px;}
aside#about h1:hover {background-position:-4px -4px;}
aside#about h1.btn-close {background-position:-30px -31px;}
aside#about h1.btn-close:hover {background-position:-30px -4px;}

footer {text-align:center;font-size:11px;font-family:'trebuchet ms', trebuchet, arial, sans-serif;padding:15px;overflow:hidden;background:url(/assets/trans.png);text-shadow:1px 1px 0px #000;position:relative;clear:both;}
footer#main-footer{padding:2px;}
ul.social {position:absolute;top:9px;right:17px;list-style:none;width:60px;height:24px;}
ul.social li {float:left;}
ul.social li a {display:block;width:23px;height:23px;text-indent:-9999px;background:url(/assets/sprite.png) no-repeat 0px 0px;float:left;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
ul.social li a:hover {-moz-box-shadow:0px 0px 10px #999;-moz-box-shadow:0px 0px 10px #999;-moz-box-shadow:0px 0px 10px #999;box-shadow:0px 0px 10px #999;}
ul.social li.btn-twitter a {background-position:-31px -83px;}
ul.social li.btn-twitter a:hover {background-position:-31px -58px;}
ul.social li.btn-facebook a {background-position:-5px -83px;}
ul.social li.btn-facebook a:hover {background-position:-5px -58px;}
ul.social li.btn-twitter {margin-right:6px;}

/* helper */

#helper {top:0px;left:0;position:fixed;z-index:4;width:100%;height:40px;background:url(/assets/trans.png) repeat;display:none;}
#helper p {width:224px;margin:0 auto;height:40px;background:url(/assets/sprite.png) no-repeat -11px -141px;}
#helper p a {width:224px;height:40px;text-indent:-9999px;display:block;}
#helper a#to-top {position:absolute;top:6px;right:50%;width:26px;height:26px;background:url(/assets/sprite.png) no-repeat -4px -215px;text-indent:-9999px;margin-right:-145px;}
#helper a#to-top:hover {background-position:-4px -188px;}

/* showcase stuff **********************************************/

#showcase {background:#000 url(/assets/lines.gif);overflow:hidden;}
#showcase-inner {overflow:hidden;position:relative;margin:0 auto;color:#333;position:relative;}

.box {width:250px;min-width:250px;float:left;}
.box-inner {border-right:1px solid #000;border-bottom:1px solid #000;margin:0;padding:0;position:relative;overflow:hidden;}
.box {-webkit-transition-duration: 1s;-moz-transition-duration: 1s;-ms-transition-duration: 1s;-o-transition-duration: 1s;transition-duration: 1s;}
.box {-webkit-transition-property: height, width;-moz-transition-property: height, width;-ms-transition-property: height, width;-o-transition-property: height, width;transition-property: height, width;}
.box {-webkit-transition-property: -webkit-transform, opacity;-moz-transition-property: -moz-transform, opacity;-ms-transition-property: -ms-transform, opacity;-o-transition-property: top, left, opacity;transition-property: transform, opacity;}
.box-inner img {max-width:100%;height:auto;margin:0;width:100%;}
.no-touch .box:hover img {-webkit-transform: scale(1.4) rotate(9deg);-moz-transform:scale(1.4) rotate(9deg);transform: scale(1.4) rotate(9deg);-moz-opacity:0.6;-webkit-opacity:0.6;-o-opacity:0.6;opacity:0.6;}

.image h1 {top:900px;left:0;position:absolute;font-size:20px;text-align:center;text-shadow:0px 0px 15px #7bc3c3;line-height:28px;font-weight:normal;text-transform:uppercase;color:#7bc3c3;padding:0 2%;width:96%;display:block;}
.quote h1 {font-size:20px;text-align:center;line-height:28px;font-weight:normal;text-transform:uppercase;color:#FFF;padding:2em 2%;width:96%;display:block;}
.quote{width: 80px;}
.quote a, .quote a:visited {color:#FFF;}

.image:hover h1 {top:40%;}
.box h1:hover {text-shadow:0px 0px 15px #fff}
.box:hover .social-items {top:8px;}
.no-touch .mask {width:1123px;height:1029px;background:url(/assets/trans3.png);position:absolute;top:105%;left:105%}
.box:hover .mask {top:-300px;left:-300px}

.touch .mask {width:1123px;height:1029px;background:url(/assets/trans2.png);position:absolute;top:105%;left:105%}
.mask a {width:100%;height:100%;;display:block;text-indent:-9999px;}
.social-items {list-style:none;position:absolute;top:-30px;right:0;width:100%;}
.social-items iframe {float:right;width:85px !important;}
.zoomit {width:73px;height:22px;background:url(/assets/sprite.png) no-repeat -127px -219px;position:absolute;float:right;}
.ghost{visibility:hidden};


#more-items, #more-items:visited {padding:10px;font-size:15px;text-align:center;background:#ccc;display:block;color:#999;text-shadow:0px 1px 0px #fff;background:#c2c2c2;text-shadow:0px 1px 0px rgba(255, 255, 255, 0.6);color:#666;text-transform:uppercase}
#more-items:hover {background:#7bc3c3;color:#fff;text-shadow:0px 1px 0px rgba(0, 0, 0, 0.3);}


/* media queries **********************************************/

@media (min-width: 1200px) {

  aside#about {width:440px;font-size:17px;}

}

@media (min-width: 768px) and (max-width: 979px) {

  aside#about {width:225px;font-size:14px;line-height:20px;}

}

@media (max-width: 767px) {

  footer p {margin-bottom:15px;line-height:14px;clear:both;}
  footer ul.social {position:relative;width:auto;padding:0;text-align:center;top:auto;right:auto;bottom:auto;}
  footer ul.social li {display:inline-block;float:none;}
  footer ul.social li.btn-twitter {margin-right:0;}

  header {padding:12px 0px;}

  aside#about {position:relative;width:auto;bottom:auto;left:auto;margin-left:auto;min-height:inherit;top:auto;height:auto;padding:10px 15px;font-size:13px;line-height:18px;text-align:center;background:#c2c2c2;text-shadow:0px 1px 0px rgba(255, 255, 255, 0.6);color:#666;}
  aside#about:hover, aside#about.active-mode {background:#7bc3c3}
  aside#about h1 {cursor:pointer;position:relative;bottom:auto;left:auto;width:auto;height:auto;background:none;text-indent:0px;font-size:16px;text-transform:uppercase;padding-left:24px;}
  aside#about h1 span {position:absolute;top:-5px;left:50%;width:26px;height:26px;margin-left:-80px;background:url(/assets/sprite.png) no-repeat -4px -31px;}
  aside#about h1 span:hover, aside#about h1:hover span, aside#about:hover h1 span {background-position:-4px -4px;}
  aside#about h1:hover, aside#about:hover h1 {color:#fff;text-shadow:0px 1px 0px rgba(0, 0, 0, 0.3);}
  aside#about h1.btn-close {color:#fff;text-shadow:none;}
  aside#about h1.btn-close span {background-position:-30px -31px;}
  aside#about h1.btn-close:hover span, aside#about h1.btn-close span:hover  {background-position:-30px -4px;}
  aside#about p {text-shadow:none;color:#333;margin:10px 0;}
  aside#about.active-mode a, aside#about.active-mode a:visited, aside#about.active-mode a:hover {color:#fff;}

}   

@media (max-width: 650px) {

  #helper ul.social {display:none;}

}