/******************************************
Crowd Interactive
*****************************************/

/* Erik Meyer CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;font: inherit;vertical-align: baseline;}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;} 
:focus {outline:0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}

.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-table;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/********** custom reset ***********/

p, ul, small, ol, li, h1, h2, h3, h4, h5, h6, blockquote, a, div, span {-webkit-font-smoothing:antialiased;text-rendering:optimizeLegibility;}

input[type="submit"], input[type="button"], label {cursor:pointer;}
textarea{resize:none}
.clearer {clear:both}
menu, nav, ul, ol {padding:0;}
ol, ul {list-style-position:inside;}

/*general stuff*****************************************/

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Six+Caps);

body {background:url(/assets/bkg_green.png) repeat #90c855;font-family:'Oswald', 'oswaldregular', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:15px;font-weight:normal;color:white;}
body, html {position:relative;}
a, a:visited {color:#e6eb70;text-decoration:none;}
.no-touch a:hover {color:#fff;text-decoration:none;}
h1, h2, h3, h4, h5 {font-family:'Oswald', 'oswaldregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight:normal;}

.no-touch{
  hgroup h1 a, .mask, .social-items {-o-transition:all ease 0.4s;-moz-transition: all ease 0.4s;-webkit-transition: all ease 0.4s;transition: all ease 0.4s;}
  .box {
    h1 {-o-transition:all ease 0.4s;-moz-transition: all ease 0.4s;-webkit-transition: all ease 0.4s;transition: all ease 0.4s;}
    img {-o-transition:all ease 0.4s;-moz-transition: all ease 0.4s;-webkit-transition: all ease 0.4s;transition: all ease 0.4s;}
  }
}


/* top page & header **********************************************/

#top-page {overflow:hidden;}
header {padding:12px 0 6px;overflow:hidden;position: relative;z-index:1;}
hgroup {display:block;width:190px;margin:0 auto;overflow:hidden;text-align:center;
  h1 {width:115px;height:115px;margin:0 auto 18px;
    a, a:visited {width:100%;height:100%;display:block;text-indent:-9999px;background:url(/assets/sprite.png) -58px -1px no-repeat;}
  }
}
.no-touch hgroup h1 a:hover {-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);}
hgroup h2 {font-family:"Six Caps", "six_capsregular", Impact, sans-serif;font-size:100px;color:#2f2f2f;text-transform:uppercase;line-height:75px; text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  span {color:black;font-size:75px;opacity:0.4;}
}

aside#about {
  position:absolute;top:20px;left:50%;width:330px;margin-left:140px;font-size:17px;line-height:23px;min-height:280px;z-index:2;
  p {text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);display:none;color:#282828;
    &:last-child {margin-top:10px;}
    a{color:white;
      &:hover{color:#e6eb70;}
    }
  }
  h1 {cursor:pointer;position:absolute;bottom:0;left:0;width:26px;height:26px;background:url(/assets/sprite.png) no-repeat -4px -31px;text-indent:-9999px;
    &:hover {background-position:-4px -4px;}
  }
  h1.btn-close {background-position:-30px -31px;
    &:hover {background-position:-30px -4px;}
  }
}

footer#footer_top {text-align:center;font-size:11px;font-family:'trebuchet ms', trebuchet, arial, sans-serif;padding:15px;overflow:hidden;background:url(/assets/trans.png);text-shadow:1px 1px 0px rgba(0,0,0,0.3);position:relative;clear:both;}
  #feed_select{position:absolute;top:9px;left:17px;list-style:none;width:90px;height:24px;}
  ul.social {
    position:absolute;top:9px;right:17px;list-style:none;width:60px;height:24px;
    li {float:left;
      a {display:block;width:23px;height:23px;text-indent:-9999px;background:url(/assets/sprite.png) no-repeat 0px 0px;float:left;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;border-radius:3px;}
  }
  li.btn-twitter{
     margin-right:6px;
     a {background-position:-31px -58px;
      &:hover {opacity:.5;}
    }
  }
  li.btn-facebook a {background-position:-5px -58px;
    &:hover {opacity:.5;}
  }
}

/* helper */

#helper {
  top:0px;left:0;position:fixed;z-index:4;width:100%;height:40px;background:url(/assets/trans.png) repeat;display:none;
  p {width:224px;margin:0 auto;height:40px;background:url(/assets/sprite.png) no-repeat -11px -141px;
    a {width:224px;height:40px;text-indent:-9999px;display:block;}
  }
  a#to-top {position:absolute;top:6px;right:50%;width:26px;height:26px;background:url(/assets/sprite.png) no-repeat -4px -215px;text-indent:-9999px;margin-right:-145px;
    &:hover {background-position:-4px -188px;}
  }
}

/* showcase stuff **********************************************/

#showcase {background:#90c855 url(/assets/bkg_green.png);overflow:hidden;}
#showcase-inner {overflow:hidden;position:relative;margin:0 auto;color:#333;position:relative;padding-top: 8px;}

.box {
  width:250px;min-width:250px;float:left;overflow:visible;
  -webkit-transition-duration: 1s;-moz-transition-duration: 1s;-ms-transition-duration: 1s;-o-transition-duration: 1s;transition-duration: 1s;
  -webkit-transition-property: height, width;-moz-transition-property: height, width;-ms-transition-property: height, width;-o-transition-property: height, width;transition-property: height, width;
  -webkit-transition-property: -webkit-transform, opacity;-moz-transition-property: -moz-transform, opacity;-ms-transition-property: -ms-transform, opacity;-o-transition-property: top, left, opacity;transition-property: transform, opacity;
}
.box-inner {border-right:1px solid #89BE51;border-bottom:1px solid #89BE51;margin:0;padding:0;position:relative;overflow:hidden;
  img {max-width:100%;height:auto;margin:0;width:100%;}
}

.no-touch{
  .box:hover{
    img {-webkit-transform: scale(1.4) rotate(9deg);-moz-transform:scale(1.4) rotate(9deg);transform: scale(1.4) rotate(9deg);-moz-opacity:0.6;-webkit-opacity:0.6;-o-opacity:0.6;opacity:0.6;}
    .social-items {top:8px;}
    .mask {top:-300px;left:-300px}
  }
  .image:hover h1 {top:30%;}
  .mask {width:1123px;height:1029px;background:url(/assets/trans3.png);position:absolute;top:105%;left:105%} 
}

.image h1 {top:900px;left:0;position:absolute;font-size:20px;text-align:center;line-height:28px;font-weight:normal;text-transform:uppercase;color:#7bc3c3;padding:0 2%;width:96%;display:block;}
.quote h1 {font-size:20px;text-align:center;line-height:28px;font-weight:normal;text-transform:uppercase;color:#FFF;padding:2em 2%;width:96%;display:block;}
.quote{
  a, a:visited {color:#FFF;
    &:hover{text-decoration:underline;}
  }
}

/* tweet box **********************************************/
.tweet{background:#fff;
  a{color:#797970;
  &:hover{color:#797970;};
  }
  h1 {font-size:13px;font-weight:normal;text-transform:uppercase;padding:1em 1em 1em 2.6em;
    span{color:#7fbfb9;}
  }
  &:hover{
    background:#ddd;
  }
  .tweet-share{width:23px;height:100%;background:#fff;float:left;}
  .comment{height:23px;width:23px;background:url(/assets/sprite.png) no-repeat -187px -56px;display:block;&:hover{background-position:-209px -56px;}}
  .retweet{height:23px;width:23px;background:url(/assets/sprite.png) no-repeat -187px -81px;display:block;&:hover{background-position:-210px -81px;}}
  .favorite{height:23px;width:23px;background:url(/assets/sprite.png) no-repeat -187px -101px;display:block;&:hover{background-position:-210px -101px;}}
}

.touch .mask {width:1123px;height:1029px;background:url(/assets/trans2.png);position:absolute;top:105%;left:105%}
.mask a {width:100%;height:100%;;display:block;text-indent:-9999px;}
.social-items {list-style:none;position:absolute;top:-30px;right:0;width:100%;
  .twitter-share-button{background:#209adb;float:right;padding:4px;color:#fff!important;width:35px;}
}
.zoomit {width:73px;height:22px;background:url(/assets/sprite.png) no-repeat -127px -219px;position:absolute;float:right;}
.ghost{visibility:hidden};

/* video box **********************************************/
.vid{
  h1 {font-size:20px;text-align:left;line-height:28px;font-weight:normal;text-transform:uppercase;color:#fff;width:100%;display:block;}
  p{position:absolute;top:-30px;right:0;text-align:center;display: block;width: 100%;text-transform:uppercase;
    a{color:#e6eb70;font-size:22px;}
  }
  &:hover {p{top:80px;}}
  .play{background-image:url(/assets/watch-it.png);background-repeat: no-repeat;background-position: center; width:100%; height:160px;}
  .box-inner{padding: 1.5em;}
} 

.show{
  h1{top:40%;}
  .social-items {top:8px;}
  .mask {top:-300px;left:-300px}
}

/* employee box **********************************************/
.employee{
  p{-o-transition:all ease 0.4s;-moz-transition: all ease 0.4s;-webkit-transition: all ease 0.4s;transition: all ease 0.4s;}
  h1{top:900px;left:0;position:absolute;font-size:20px;text-align:center;line-height:28px;font-weight:normal;text-transform:uppercase;color:#7bc3c3;padding:0 2%;width:96%;display:block;}
  &:hover h1{top:30%;};
  &:hover p.role, &:hover p.twt{left:5%;};
  /*&:hover .magma{top:-8px;background-position:-176px -1px;z-index:10;} */ 
  .magma{background:url(/assets/sprite.png) no-repeat -176px -1px;z-index:1;height:35px;width:51px;position:absolute;top:-8px;left:0;}
  p.role{top:60%;left:-900px;position:absolute;font-size:20px;text-align:left;line-height:28px;font-weight:normal;text-transform:uppercase;color:#7bc3c3;padding:0 2%;width:96%;display:block;}
  p.twt{top:80%;left:-900px;position:absolute;font-size:20px;text-align:left;line-height:28px;font-weight:normal;text-transform:uppercase;color:#7bc3c3;padding:0 2%;width:96%;display:block;}
}

/* footer  **********************************************/
footer#main-footer{padding:2px;}
#more-items, #more-items:visited {padding:16px;font-size:15px;text-align:center;background:#282828;color: rgba(255, 255, 255, 0.5);text-transform:uppercase;text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);display:block;}
#more-items:hover {background:#436324;color:#fff;text-shadow:0px 1px 0px rgba(0, 0, 0, 0.3);}
.loading{background:url(/assets/loadingB.gif)no-repeat #90c855;background-position: center;height:48px;width:100%;}


/* media queries **********************************************/

@media (min-width: 1200px) {

  aside#about {width:440px;font-size:17px;}

}

@media (min-width: 768px) and (max-width: 979px) {

  aside#about {width:225px;font-size:14px;line-height:20px;}

}

@media (max-width: 767px) {

  footer{
    p {margin-bottom:15px;line-height:14px;clear:both;}
    ul.social {position:relative;width:auto;padding:0;text-align:center;top:auto;right:auto;bottom:auto;
      li {display:inline-block;float:none;}
      li.btn-twitter {margin-right:0;}
    }
    select#feed_select{position:relative;width:auto;padding:0;text-align:center;top:auto;right:auto;bottom:auto;display:inline-block;margin-top: 5px;margin-left: -34px}
  }

  header {padding:12px 0px;}

  aside#about {
    position:relative;width:auto;bottom:auto;left:auto;margin-left:auto;min-height:inherit;top:auto;height:auto;padding:10px 15px;font-size:13px;line-height:18px;text-align:center;background:#c2c2c2;text-shadow:0px 1px 0px rgba(255, 255, 255, 0.6);color:#666;
    h1 {cursor:pointer;position:relative;bottom:auto;left:auto;width:auto;height:auto;background:none;text-indent:0px;font-size:16px;text-transform:uppercase;padding-left:24px;
      span {position:absolute;top:-5px;left:50%;width:26px;height:26px;margin-left:-80px;background:url(/assets/sprite.png) no-repeat -4px -31px;}
    }
    h1.btn-close {color:#fff;text-shadow:none;}
    p {text-shadow:none;color:#333;margin:10px 0;}
    h1.btn-close:hover span,  h1.btn-close span:hover{background-position:-30px -4px;}
  }
  aside#about:hover, aside#about.active-mode {background:#7bc3c3}
  aside#about h1 span:hover, aside#about h1:hover span, aside#about:hover h1 span {background-position:-4px -4px;}
  aside#about h1:hover, aside#about:hover h1 {color:#fff;text-shadow:0px 1px 0px rgba(0, 0, 0, 0.3);}
  aside#about h1.btn-close span {background-position:-30px -31px;}
  aside#about.active-mode a, aside#about.active-mode a:visited{color:#fff;}
  aside#about.active-mode a:hover{color:#e6eb70;}

}   

@media (max-width: 650px) {

  #helper ul.social {display:none;}

}